ul{
   list-style:none;
 }

 a {
   text-decoration: none;
 }

body {
  text-align: center;
}

nav {
  border:solid;
  border-color: #ffff80;
  border-width: thick;
}

article{
  border:solid;
  border-color: #ffff80;
  border-width: thick;
}

footer{
  border:solid;
  border-color: #ffff80;
  border-width: thick;
  border-bottom-width: 40px;

  font-size: 10px;
  color:grey;
}


.menu {
  overflow: hidden;
  margin-left: 950px;
}

.menu li{
  float : left;
}

.menu a {
  display: block;
  border-style: none;
  padding: 10px 30px; /**상우하좌**/
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ffff80;

  border-radius: 10px;
  box-shadow: 5px 5px 10px -3px grey;
}
